@import 'core.scss';

.settings-item {
  font-size: 1.8rem;
  &:last-of-type {
    .setting-trigger {
      border-bottom: none;
    }
  }
}

.setting-trigger {
  @include flex(flex-start, center);
  cursor: pointer;
  height: 6.1rem;
  border-bottom: 1px solid $grey-bg;
}

.open {
  .arrow-icon {
    transform: rotate(-180deg);
  }
}

.icon-wrapper {
  width: 4.2rem;
  text-align: right;
}

.setting-name {
  margin-left: 1.7rem;
}

.arrow-icon {
  margin-left: auto;
  margin-right: 2.8rem;
  transition: 0.25s;
}

.setting-details {
  padding: 2rem 2.4rem;
  border-bottom: 1px solid $grey-bg;
}
