@import 'core.scss';

.search {
  input {
    width: 23rem;
  }
}

.header {
  @include flex(flex-start, center);
  padding: 0 0 40px;
}

.title {
  margin-right: 4rem;
}

.button {
  margin-left: auto;
}

.services-list {
  padding: 40px;
}

.edit-service {
  visibility: hidden;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 8px;
  transition: none;
}

.service-row {
  cursor: move;
  user-select: none;
  background: white;
}

.service-row-dragging {
  position: fixed;
  padding: 0 12px;
  border: 2px solid #eeeeee;
  border-radius: 12px;
  transform: rotate(-5deg) translate(-50%, -80%);
}

.service-row-placeholder {
  background-image: url('../../../../public/img/line.svg');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 7px 7px;
}

.service-row:hover {
  .edit-service {
    visibility: visible;
  }
}

.sort {
  &--elements {
    cursor: pointer;
  }

  &--direction {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
