@import './variables.scss';
@import './media.scss';

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin abs-center {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin min-size($size) {
  min-width: $size;
  min-height: $size;
}

@mixin max-size($size) {
  max-width: $size;
  max-height: $size;
}

@mixin error {
  .error {
    position: absolute;
    bottom: 10%;
    left: 0;
    transform: translateY(calc(100% + 1rem));
    display: block;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #bd3f3f;
  }
}

@mixin icon($size, $color) {
  font-size: $size;
  color: $color;
  & > *,
  &::before,
  &::after {
    color: $color;
  }
}

@mixin not-last-child() {
  & > *:not(:last-child) {
    @content;
  }
}

@mixin last-child() {
  & > *:last-child {
    @content;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade-in($time: 0.25s) {
  animation: fade-in 0.25s linear;
}

@mixin vertical-padding($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin horizontal-margin($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin cross() {
  position: relative;
  transition: 0.25s;
  &::after,
  &::before {
    content: ' ';
    position: absolute;
    transition: 0.25s;
  }
  &:before {
    transform: translateX(-50%) rotate(45deg);
  }
  &:after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

@mixin cross-params($color, $size, $width) {
  @if ($size) {
    @include size($size);
  }
  &::after,
  &::before {
    left: 50%;
    @if ($width) {
      width: $width;
    }
    @if ($size) {
      height: $size;
    }

    @if ($color) {
      background: $color;
    }
  }
}

@mixin arrow-down($size, $color) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

@mixin scrollbar-x($height: 5px) {
  @include scrollbar();

  &::-webkit-scrollbar {
    height: $height;
  }
}

@mixin scrollbar-y($width: 5px) {
  @include scrollbar();

  &::-webkit-scrollbar {
    width: $width;
  }
}

@mixin gradient-color($background, $fallback) {
  color: $fallback;

  @supports (-webkit-text-fill-color: transparent) {
    background: $background;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
