$primary: lightblue;
$grey: #aaaaaa;
$disabled-grey: #ebebeb6b;
$grey-bg: #f4f4f4;
$red: #cc3791;
$orange: #e08e2e;
$light-orange: #fdb913;
$light-blue: #ebf9fc;
$blue: #0da8c9;
$red: #c9460d;
$dark-red: #e83131;
$red-text: #ff1a1a;
$light-red: #fcefeb;
$light-purple: #f2dcfa;
$purple: #c74af8;
$turquoise: #f5fffa;
$green: #11a555;
$light-green: #81bb78;
$light-grey: #e8e8e8;

$transition: 0.25s;

$primary-gradient: linear-gradient(154.85deg, #cc3791 15.56%, #e08e2e 84.16%);
$primary-gradient-hover: linear-gradient(
  170.25deg,
  #dd3e9d 15.56%,
  #fda741 84.16%
);

$secondary-gradient: linear-gradient(154.85deg, #2388e4 15.56%, #5ce02e 84.16%);
