@import 'core.scss';

.appointments-time-list {
  @include flex();
  position: relative;
  flex-wrap: wrap;
}

.time {
  width: 20%;
  padding: 8px 15px;
  border-right: 1px solid #eeeeee;
}

.time-item {
  height: 7rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
  color: $grey;

  &:last-child {
    height: 16px;
  }
}

.appointment-grid {
  position: relative;
  width: 80%;
  padding-top: 16px;
}

.appointment-grid-item {
  height: 7rem;

  &:nth-child(odd) {
    border-top: 1px dashed #eeeeee;
  }

  &:last-child {
    height: 16px;
  }
}

.appointment-tile {
  cursor: pointer;
  position: absolute;
  left: 8px;
  width: calc(100% - 32px);
  border-radius: 0 9px 9px 0;

  .left-line {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 4px;
  }

  .service-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
  }

  .customer-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: black;
  }

  .appointment-id {
    font-size: 12px;
    line-height: 16px;
    color: black;
  }
}

.appointment-tile.quarter {
  padding: 4px 0 4px 18px;

  .customer-name {
    display: none;
  }

  .appointment-id {
    display: none;
  }
}

.appointment-tile.half {
  padding: 9px 0 9px 18px;

  .service-name {
    margin-bottom: 7px;
  }

  .appointment-id {
    display: none;
  }
}

.appointment-tile.big {
  cursor: auto;
  padding: 10px 0 10px 18px;

  .service-name {
    margin-bottom: 16px;
  }

  .customer-name {
    margin-bottom: 2px;
  }
}

.appointment-tile.opened {
  padding: 10px 0 10px 18px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

  .service-name {
    margin-bottom: 8px;
  }

  .customer-name {
    margin-bottom: 2px;
  }
}

.break {
  @include flex(flex-start, center);
  position: absolute;
  top: 201px;
  left: 1.2rem;
  width: calc(100% - 36px);
  height: 7.6rem;
  padding: 0.8rem 1.4rem;
  background-image: url('../../../../public/img/line.svg');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 7px 7px;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.time-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -4.5px;
    left: 0;
    width: 6px;
    height: 10px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #cc3791;
    box-sizing: border-box;
  }
}
