@import 'core.scss';
@import '~public/fonts/icomoon/style.css';
@import '~public/fonts/basis-grotesque-pro/stylesheet.css';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Basis Grotesque Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

.isvg.loaded {
  line-height: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
}
