@import 'core.scss';

.button {
  &--upcoming {
    cursor: default;
    color: #fff;
    background: $light-orange;
    border-radius: 4px;

    &:hover {
      background: $light-orange;
    }
  }

  &--completed {
    cursor: default;
    color: #fff;
    background: $light-green;
    border-radius: 4px;

    &:hover {
      background: $light-green;
    }
  }
}
