.inputNumber {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 8px;
  // overflow: hidden;
  &_error {
    border: 2px solid rgb(148, 23, 23);
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }
  .input {
    display: flex;
    width: 70%;
    padding-left: 20%;
    margin-right: 10%;
    font-size: 14px;
    min-width: 65px;
    outline: none;
    border: none;
    &:disabled {
      color: #aaa;
      cursor: not-allowed;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 55%;
  }
}
.error {
  border: 2px solid red;
}
.error-message {
  position: absolute;
  z-index: 10000;
  top: 120%;
  left: 0;
  color: red;
}
