@import 'core.scss';

.day-select {
  @include flex();
  overflow-x: scroll;
  padding: 1.4rem 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 4px;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.select-item {
  @include flex(center, center, column);
  min-width: 6rem;
  height: 4.8rem;
  margin: 0 2px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 1.6rem;
  cursor: pointer;
}

.past-date {
  .date {
    color: #aaaaaa;
  }
  &.picked {
    border: 1px solid #000000;
    .date {
      color: #000000;
    }
  }
}

.picked {
  position: relative;
  background-clip: padding-box;
  border-color: transparent;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -1px;
    border-radius: inherit;
    background: $primary-gradient;
  }
}

.date {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
}

.day-of-week {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #aaaaaa;
}
