@import 'core.scss';

.container {
  // margin-top: 2rem;
  margin: 5rem 2rem;
}
.navigations {
  margin: 2rem 0;
}
.navLink {
  font-size: 1.7rem;
  font-weight: bold;
  &:first-child {
    margin-right: 2rem;
  }
}
.active {
  font-weight: bold;
  color: transparent;
  background: $primary-gradient;
  background-clip: text;
}
