.title {
  margin: 10px 0;
  font-family: 'Basis Grotesque Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  color: #000000;
}
.schedule_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 71px;
  padding: 0 32px;
  margin: 10px 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  .date {
    width: 100px;
    .days {
      display: flex;
      max-width: 100px;
      flex-wrap: wrap;
    }
    div {
      display: flex;
      justify-content: flex-start;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      color: #000000;
    }
  }
  .worktime {
    &_title {
      margin-bottom: 3px;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 129%;
      color: #aaaaaa;
    }
    &_value {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
  .timeoff {
    &_title {
      margin-bottom: 3px;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      color: #aaaaaa;
    }
    &_value {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
}
.buttons {
  display: flex;
  margin-left: 5%;
  & > button {
    outline: none;
  }
  .button_edit {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 0;
    width: 100%;
    height: 36px;
    max-width: 123px;
    min-width: 123px;
    padding: 10px;
    margin-right: 12px;
    box-sizing: border-box;
    font-family: 'Basis Grotesque Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 129%;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
    border: none;
    &:hover {
      cursor: pointer;
      background: linear-gradient(170.25deg, #dd3e9d 15.56%, #fda741 84.16%);
    }
    &:disabled {
      cursor: not-allowed;
      color: #fff;
      background: #ccc;
      border: 1px solid #aaa;
    }
  }
  .button_delete {
    display: flex;
    flex: none;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    max-width: 123px;
    min-width: 123px;
    padding: 10px;
    font-family: 'Basis Grotesque Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 129%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 12px;
    color: #000000;
    border: 1px solid #aaa;
    border: 0;

    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
    &:disabled {
      cursor: not-allowed;
      color: #fff;
      background: #ccc;
      border: 1px solid #aaa;
    }
  }
}
