@import 'core.scss';

.recover {
  margin-top: -150px;
}

.heading {
  text-align: center;
}

.text {
  &--sm {
    font-size: 1.2rem;
  }

  &-align {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.errorContainer {
  margin-left: 20px;
}

.fields {
  width: 32.8rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.button {
  width: 32.8rem;
  max-width: 100%;
  margin: 0 auto;
}

.form {
  max-width: 100%;
}
