@import 'core.scss';

.container {
  height: 60px;
  margin-top: 30px;

  h4 {
    font-size: 16px;
    font-weight: 500;
  }

  h6 {
    margin: 15px 0;
    font-size: 12px;
    font-weight: 400;
    color: $grey;
  }
}
