@import 'core.scss';

.modal-container {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.modal {
  width: 30vw;
  height: 30vh;
  padding: 30px;
  margin: 0 auto;
  margin-top: 15%;
  background-color: #fff;
  box-shadow: 0 24px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
