@import 'core.scss';

.navigation-menu {
  @include flex(space-around, center);
  position: fixed;
  bottom: 2.3rem;
  left: calc(50vw - 14.8rem);
  width: 29.6rem;
  height: 5.7rem;
  background: #ffffff;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.05);
  border-radius: 2.4rem;
}

.item {
  font-size: 2.4rem;
  cursor: pointer;

  &--selected {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}
