@import 'core.scss';

.search {
  input {
    width: 230px;
  }
}

.header {
  @include flex(flex-start, center);
  padding: 0 0 40px;
}

.title {
  margin-right: 40px;
}

.button {
  margin-left: 2rem;
}
.button-widget {
  padding: 0 4rem;
}

.salons {
  padding: 40px;
}

.banners {
  @include flex(flex-start, center);

  & > * {
    @include size(40px);
    @include min-size(40px);

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.edit-salon {
  visibility: hidden;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 8px;
  transition: none;
}

.salon-row:hover {
  .edit-salon {
    visibility: visible;
  }
}
