@import 'core.scss';

.countries {
  width: 100%;
  height: 1000px;
  padding: 3.5rem 4.4rem 3rem 4rem;
  table {
    width: 100%;
    margin: 0 auto;
  }
  button {
    display: inline-flex;
  }
}

.header {
  width: 100%;
  @include flex(space-between, center);
  //   background-color: rgb(180, 156, 156);
  height: 40px;
  margin-bottom: 2rem;
  & > .title {
    font-size: 2.8rem;
  }
}
