@import 'core.scss';

.payment {
  margin-top: -30px;
}

.cell {
  padding: 20px 0;
  font-size: 1.4rem;
  border: none;

  &--with-border {
    border-bottom: 1px solid $light-grey;
  }
}

.name {
  margin-top: -2px;
  font-size: 1.6rem;
}

.with-icon {
  @include flex(flex-start, center);

  p {
    font-weight: 700;
  }
}

.button {
  width: 90px;
  font-size: 1rem;
}

.arrow-bottom {
  cursor: pointer;
  width: 12px;
  height: 6px;
  margin-left: 20px;
}

#clipboard {
  display: none;
}
