@import 'core.scss';
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
  opacity: 1 !important;
}
.form {
  width: 50%;
  margin-top: 55px;
  margin-left: 5rem;
}
.input {
  width: 7rem;
  height: 32px;
  border: none;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  input {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 12px 10px 12px 15px;
    font-family: 'Basis Grotesque Pro';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
  }
}
.error {
  border: 2px solid red;
}
.group {
  display: flex;
  flex: 1;
  margin: 1rem 0;
}
.button {
  display: flex;
  width: 100%;
  height: 4rem;
  max-width: 11rem;
}
.title {
  font-family: 'Basis Grotesque Pro';
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;

  line-height: 129%;
  color: #aaaaaa;
}
