@import 'core.scss';

.header {
  @include flex(flex-start, center);
  padding: 0 0 40px;
}

.button {
  margin-left: auto;
}

.detail-button-container {
  @include flex(flex-end, center);
}

.detail-button {
  height: 18px;
  padding: 0 8px;
  font-size: 120%;
  color: $grey;
  border-radius: 4px;
  border-color: $grey;

  &:hover {
    background-color: $grey-bg;
  }
}

.title {
  margin-right: 40px;
}

.merchants {
  padding: 40px;
}

.delete-merchant-modal {
  text-align: center;

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  h1 {
    margin-top: 40px;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  & > * {
    margin: 0 auto;
  }
}

.button1 {
  padding: 10px 20px;
  margin-right: 10px;
}

.button2 {
  padding: 10px 20px;
  margin-left: 10px;
}

.sort {
  &--element {
    cursor: pointer;
  }

  &--direction {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
