@import 'core.scss';

.finances {
  padding: 60px 50px;
}

.finances-nav {
  @include flex(space-between, center);
}

.back-container {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $light-grey;

  .back {
    @include flex(space-between, center);

    width: fit-content;

    p {
      padding-top: 2px;
      margin-left: 20px;
      font-size: 2rem;
      font-weight: 700;
    }

    img {
      cursor: pointer;
    }
  }
}

.header {
  @include flex(space-between, center);

  padding: 5px 10px;
  margin-top: 20px;
  border: 1px solid $light-grey;
  border-radius: 16px;

  div {
    &:first-of-type {
      padding-left: 10px;
      margin-right: 50px;
    }

    button {
      padding: 15px 25px;
      font-size: 1.6rem;
    }
  }

  h4 {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 700;
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: $grey;
  }
}

.search {
  @include flex(center, center);

  margin-top: 20px;

  input {
    width: 220px;
  }
}
