@import 'core.scss';

.own {
  padding: 2rem 0 4rem 0;
  border-bottom: 1px solid #eeeeee;
}
.form {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-columns: repeat(8, 7fr);
  grid-template-areas:
    'info info info info  lang lang lang'
    'coverColor coverColor titleColor titleColor  widget widget widget'
    'code code code code  widget widget widget';
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
}

.field-group-info {
  display: grid;
  grid-area: info;
  input {
    color: #000;
  }
  label {
    line-height: 19px;
    color: #aaa;
  }
}
.field-group-language {
  display: grid;
  grid-area: lang;
  width: 400px;
  height: 60px;
  margin: 10px;
}
.field-group-widget-cover-color {
  display: grid;
  grid-area: coverColor;
  label {
    height: 16px;
    padding: 0;
    color: #aaa;
  }
}
.field-group-widget-text-color {
  display: grid;
  grid-area: titleColor;
  label {
    height: 16px;
    padding: 0;
    color: #aaa;
  }
}
.field-group-widget-code {
  position: relative;
  display: grid;
  grid-area: code;
  .textarea {
    height: 150px;
    font-size: 10px;
    white-space: pre;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 16px;
    outline: none;
    div {
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 0;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #eeeeee;
      border-radius: 5px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #dbd9d9;
    }
  }
  .button {
    position: absolute;
    bottom: 100px;
    right: 5%;
    width: auto;
    max-width: 150px;
    font-weight: normal;
    border: 1px solid #000000;
  }
}
.widget-demo {
  display: grid;
  grid-area: widget;
  padding: 1rem;
  .widget {
    width: 400px;
    height: 355px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    &-header {
      height: 100px;
      background-color: #002445;
      border-radius: 15px 15px 0 0;
      padding: 20px 20px 0 20px;
      .widget-header-block1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .salonName {
          font-size: 10px;
          font-style: normal;
          font-weight: bold;
          line-height: 120%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #b8ddfe;
          opacity: 0.7;
        }
      }
      .widget-header-block2 {
        .widgetTitle {
          font-style: normal;
          font-size: 24px;
          font-weight: bold;
          line-height: 133%;
          letter-spacing: -0.02em;
          color: #b8ddfe;
        }
      }
    }
    &-service {
      display: flex;
      align-items: center;
      height: 72px;
      border-bottom: 1px solid #ddd;
      div:first-child {
        margin-left: 20px;
        margin-right: 20px;
        img {
          font-size: 50px;
        }
      }
      .service-title {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
    &-specialist {
      display: flex;
      align-items: center;
      height: 72px;
      border-bottom: 1px solid #ddd;
      div:first-child {
        margin-left: 20px;
        margin-right: 20px;
        img {
          font-size: 50px;
        }
      }
      .specialists-title {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
    &-date-and-time {
      display: flex;
      align-items: center;
      height: 72px;
      div:first-child {
        margin-left: 20px;
        margin-right: 20px;
        img {
          font-size: 50px;
        }
      }
      .date-title {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
  }
}
.select > div::-webkit-scrollbar {
  width: 0;
}
