@import 'core.scss';

.label {
  position: absolute;
  top: 2rem;
  left: 2.2rem;
  font-size: 1.8rem;
  color: $grey;
  transition: 0.2s ease all;
  pointer-events: none;
}

.field {
  @include flex(flex-start, center);
  width: 100%;
  height: 6rem;
  padding: 2.6rem 2.2rem 1.2rem;
  font-size: 1.8rem;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #292f48;
  transition: 0.25s;
}

.box {
  position: absolute;
  z-index: 50;
  top: calc(100% - 12px);
  left: -1px;
  width: calc(100% + 2px);
  max-height: 180px;
  padding-top: 16px;
  background: #fff;
  border: thin solid $grey;
  border-top: none;
  border-radius: 0 0 16px 16px;
  overflow-y: auto;
  & > * {
    &:last-child {
      border-radius: 0 0 16px 16px;
    }
  }
}

.option {
  padding: 16px 22px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
  background: #fff;
  &:hover {
    background: #eee;
  }
}

.select {
  position: relative;

  border: thin solid $grey;
  border-radius: 16px;

  cursor: pointer;

  &--disabled {
    background: $disabled-grey;
    cursor: not-allowed;
  }

  &--focused {
    cursor: default;
    .box {
      opacity: 1;
    }
  }

  &--has-value {
    .label {
      top: 0.8rem;
      font-size: 1.2rem;
    }
  }

  &:not(&--has-label) {
    .field {
      padding-top: 12px;
    }
  }

  &--compact {
    background: #f4f4f4;
    border: none;
    border-radius: 12px;

    .field {
      width: 100%;
      height: 32px;
      padding: 10px 15px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      outline: none;
    }

    .box {
      top: calc(100% - 1px);
      left: 0.5px;
      width: calc(100% - 1px);
      padding-top: 5px;

      background: #f4f4f4;
      border: none;
    }

    .option {
      padding: 10px 15px;
      font-size: 10px;
      background: #f4f4f4;
      &:hover {
        background: #fff;
      }
    }

    .icon {
      font-size: 12px;
    }

    &.select--focused {
      border-radius: 12px 12px 0 0;

      .icon {
        transform: translateY(-50%) rotate(180deg);
        font-size: 16px;
      }
    }
  }

  &--appointments {
    background: #ffffff;
    border-radius: 8px;

    .field {
      width: 100%;
      height: 32px;
      padding: 10px 15px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      outline: none;
    }

    .box {
      box-sizing: content-box;
      top: calc(100% - 1px);
      left: -1px;
      width: 100%;
      padding-top: 5px;

      background: #ffffff;
    }

    .option {
      padding: 10px 15px;
      font-size: 10px;
      background: #ffffff;
      &:hover {
        background: #f4f4f4;
      }
    }

    .icon {
      font-size: 12px;
    }

    &.select--focused {
      border-radius: 12px 12px 0 0;

      .icon {
        transform: translateY(-50%) rotate(180deg);
        font-size: 16px;
      }
    }
  }
}

.after {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
}
