@import 'core.scss';

.appointments {
  display: flex;
  height: calc(100vh - 14.4rem);
  max-height: calc(100vh - 14.4rem);
  margin: 2.7rem 4rem;
  overflow: auto;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;

  &-left {
    display: flex;
    width: 49%;
    flex-direction: column;
  }
  &-right {
    width: 49%;
  }
}

.filters {
  position: relative;
  display: block;
  width: 100%;

  &-employees {
    position: absolute;
    top: 1.4rem;
    left: 0.4rem;
    width: 200px;
  }
  &-datepicker {
    text-align: center;

    &-month {
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 1.4rem;

      &-label {
        margin: 0 1rem;
        font-family: Basis Grotesque Pro;
        font-size: 2rem;
        font-weight: 700;
      }
      &-icon {
        padding: 0 1rem;
        cursor: pointer;
      }
    }

    &-days {
      @include flex();
      padding: 1.4rem 0;
      margin: 0 4px;

      &-scroll {
        overflow: hidden;
        @include flex();
      }

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    &-day {
      @include flex(center, center, column);
      height: 4.8rem;
      margin: 0 2px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      min-width: 6rem;
      border-radius: 1.6rem;
      cursor: pointer;

      &.selected {
        border: 1px solid #000000;
      }
      &.in-past {
        color: #aaaaaa;
      }
      &.in-past.selected {
        color: #000000;
      }

      &-number {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 2rem;
      }

      &-label {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-transform: uppercase;
        color: #aaaaaa;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  &-caption {
    display: flex;
    align-items: center;

    span {
      margin-left: 7px;
      font-size: 1.8rem;
      line-height: 22px;
      color: #aaaaaa;
    }
  }
}

.timeSelector {
  display: flex;

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    margin-left: 5px;
    background: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: #aaaaaa;
      border-radius: 10px;
    }

    &.selected:before,
    &:hover:before {
      background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
    }
  }

  &-icon {
    display: flex;
    margin-right: 5px;
  }
  &-info {
    height: 12px;
    font-size: 1.2rem;
    line-height: 14px;
  }
}
