@import 'core.scss';

.appointments-time-list {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
}

.past-date {
  .appointment-tile {
    background: $grey-bg;
    &:before {
      background: $grey;
    }
  }
  .service-name {
    color: $grey;
  }
}

.time {
  padding: 0 19px 0 0;
}

.time-item {
  height: 75px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
  color: $grey;
}

.appointment-grid {
  position: relative;
  top: 6px;
  width: 580px;
}

.appointment-grid-item {
  height: 75px;
  border-top: 2px dashed #eeeeee;

  &:last-child {
    border-bottom: 2px dashed #eeeeee;
  }
}

.appointment-tile {
  position: absolute;
  top: 28px;
  left: 1.2rem;
  width: calc(100% - 36px);
  padding: 0.8rem 1.4rem;
  background: $light-blue;
  border-radius: 0.9rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 2px;
    height: 100%;
    background: $blue;
    border-radius: 4px;
  }
}

.break {
  @include flex(flex-start, center);
  position: absolute;
  top: 201px;
  left: 1.2rem;
  width: calc(100% - 36px);
  height: 7.6rem;
  padding: 0.8rem 1.4rem;
  background-image: url('../../../../public/img/line.svg');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 7px 7px;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.service-name {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $blue;
}

.customer-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.phone {
  font-size: 1.2rem;
}

.tile2 {
  top: 121px;
}

.tile3 {
  top: 281px;
  height: 187px;
}

.time-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -4.5px;
    left: 0;
    width: 6px;
    height: 10px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #cc3791;
    box-sizing: border-box;
  }
}

.column {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  //background: #ebfcf2;
  //border: 1px solid #aef3cb;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  //overflow: hidden;
}

.day {
  display: inline-block;
  width: 40px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}
.description {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 3rem 0;
  font-size: 1.4rem;
  font-weight: bold;

  .status5 {
    margin-right: 50px;
    .point {
      display: flex;
      align-items: center;
    }
    .point::before {
      content: '';
      display: inline-flex;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(174, 243, 203);
      align-self: center;
      margin-right: 10px;
    }
  }
  .status20 {
    margin-right: 50px;
    .point {
      display: flex;
      align-items: center;
    }
    .point::before {
      content: '';
      display: inline-flex;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #b7daf5;
      align-self: center;
      margin-right: 10px;
    }
  }
}
