.timeoff {
  max-width: 400px;
  margin-top: 60px;
  font-family: 'Basis Grotesque Pro';
  .title {
    display: flex;
    margin: 10px 0;
    .optional {
      font-size: 1.1rem;
      font-style: normal;
      font-weight: normal;
      line-height: 129%;
      color: #aaaaaa;
    }
  }
  .checkbox {
    display: flex;
    margin-left: auto;
    & > input {
      width: 15px;
      margin: 0px 3px 0px 5px;
      cursor: pointer;
    }
    .checkboxTitle {
      font-size: 1.1rem;
      font-style: normal;
      font-weight: normal;
      line-height: 129%;
      color: #aaaaaa;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttonWrapper {
      display: flex;
      align-items: center;
      div:not(:last-child) {
        margin-right: 10px;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        min-width: 20px;
        max-width: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .line {
      display: flex;
      align-items: center;
      height: 4px;
      padding: 0 10px;
      //   background-color: red;

      & > img {
        width: 20px;
      }
    }
  }
}
