@import 'core.scss';

@keyframes slide-up {
  from {
    transform: translateY(calc(100% + 40px));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.snackbar {
  @include flex(flex-start, center);
  position: fixed;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  padding: 21px 27px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  background: #fff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  animation: slide-up ease-out 0.25s;

  &--error {
    background: #fff8f8;
    border: 1px solid #d25075;
  }

  &--warning {
    background: #fffaf0;
    border: 1px solid #f6b83f;
  }
}

.icon {
  @include size(28.5px);
  @include min-size(28.5px);

  margin-right: 20px;
}

.content {
  padding-top: 2px;
}
