@import 'core.scss';

.oioni {
  .form {
    .widget-info {
      display: flex;
      padding: 10px 0;
      input {
        color: #000;
      }
    }
    .widget-background {
      display: flex;
      padding: 24px 0;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
  }
}
.buttons {
  display: flex;
  padding: 24px 0;
}
.button-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  max-width: 134px;
  padding: 0 4rem;
  margin-left: 20px;
  white-space: nowrap;
  outline: none;
  transition: background 0.25s ease-out;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 12px;
  transform: scale(1);
  color: #fff;
  background: linear-gradient(154.85deg, #cc3791 15.56%, #e08e2e 84.16%);
  border: none;
  overflow: hidden;
  &:visited {
    color: #fff;
    animation: none;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(170.25deg, #dd3e9d 15.56%, #fda741 84.16%);
  }
}
.button-save {
  width: 100%;
  height: 40px;
  max-width: 134px;
  padding: 0 4rem;
  margin-left: 20px;
  overflow: hidden;
}
.button-delete {
  width: 100%;
  height: 40px;
  max-width: 134px;
  padding: 0 4rem;
  margin-left: 20px;
  overflow: hidden;
  :hover {
    border: 1px solid #000;
  }
}
.pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
}
.disabled-link {
  cursor: not-allowed;
  background: #ccc;
  &:hover {
    cursor: not-allowed;
    background: #ccc;
  }
}
.select {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  & > div::-webkit-scrollbar {
    width: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
