.picker {
  position: relative;
  height: 61px;
  max-width: 231px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 16px;
}
.popover {
  position: absolute;
  z-index: 2;
  top: 100%;
  & > div {
    // border: 5px solid red;
    border-radius: 16px !important;
  }
}
.placeholder {
  display: flex;
  align-items: center;
  height: 61px;
  padding: 1rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7rem;
  .color-value {
    width: 60%;
  }
  & > div:first-child {
    width: 20%;
    margin-right: 1rem;
  }
  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    margin-right: 1rem;
  }
  &:hover {
    cursor: pointer;
  }
}
.label {
  display: flex;
  padding: 1rem;
}
.indicator {
  width: 37px;
  height: 37px;
  border-radius: 11px;
  border: 1px solid #ccc;
}
