@import 'core.scss';

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: Basis Grotesque Pro;

  border: 1px dotted #aaaaaa;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 16px;

  &-icon {
    margin-bottom: 3rem;
  }
  &-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
  }
  &-label {
    max-width: 280px;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    text-align: center;
    color: #aaaaaa;
  }
}

.appointment-editor {
  padding: 2rem 3.2rem 2.4rem;
}

.heading {
  position: relative;
  margin-bottom: 2.4rem;

  &-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.field-group {
  margin-bottom: 2.4rem;
  &--horisontal {
    & > * {
      &:last-child {
        display: flex;
        & > * {
          &:first-child {
            width: 40%;
            border-radius: 1.6rem 0 0 1.6rem;
            border-right: none;
          }
          &:last-child {
            width: 60%;
            border-radius: 0 1.6rem 1.6rem 0;
            border-top: thin solid #aaaaaa;
          }
        }
      }
    }
  }
}

.horizontal-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &-input {
    width: 48%;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.input-only {
  & > * {
    &:first-child {
      @include flex(flex-start, center);
      border-radius: 1.6rem;
      &:focus,
      &--populated {
        & + label {
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.8rem;
        }
      }
    }
  }
  label {
    top: 50%;
    transform: translateY(-50%);
  }
}

.input-avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.label {
  @include flex(flex-start, center);
  &__text {
    line-height: 1;
  }
}

.button {
  min-width: 8rem;
  height: 3.6rem;
}

.phoneValidation {
  display: flex;
  margin-bottom: 1rem;
  opacity: 0.4;

  &.active {
    opacity: 1;
  }
  &-icon {
    margin-right: 0.5rem;
  }
  &-buttons {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      margin: 0 1rem;
    }
  }

  &-help {
    &-title {
      margin-bottom: 0.5rem;
      font-family: Basis Grotesque Pro;
      font-size: 1.4rem;
      font-weight: 700;
    }
    &-text {
      font-family: Basis Grotesque Pro;
      font-size: 1.2rem;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal {
  position: relative;
  z-index: 2;
  width: 400px;

  padding: 14px 32px;
  background: #fff;
  border-radius: 36px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);

  &-heading {
    font-family: Basis Grotesque Pro;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
  }
  &-caption {
    max-width: 250px;
    padding-bottom: 3rem;
    margin: auto;
    font-family: Basis Grotesque Pro;
    font-size: 1.6rem;
    text-align: center;
  }
}

.fields {
  @include flex(space-between);
  margin-bottom: 4.6rem;
}

.input {
  width: 77px;
  & > * {
    padding: 0 2.2rem;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 5.8rem;
    text-align: center;

    &:last-child {
      border-radius: 1.6rem;
    }
  }
  @include mobile-xs {
    width: 65px;
  }
}
