@import 'core.scss';

.search {
  input {
    width: 30rem;
  }
}

.header {
  @include flex(space-between, center);
  padding: 0 0 40px;
}

.title {
  margin-right: 4rem;
}

.customers-list {
  padding: 40px;
}

.customer {
  @include flex(flex-start, center);
}

.avatar {
  @include size(25px);
  @include min-size(25px);

  margin-right: 10px;
  border-radius: 50%;

  &--no-avatar {
    background: $primary-gradient;
  }
}

.customer-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.customer-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sort {
  &--element {
    cursor: pointer;
  }

  &--direction {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
