@import 'core.scss';

.card {
  border: 1px solid #eeeeee;
  border-radius: 16px;
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#fff, 0.3);
}

.disabled {
  .overlay {
    display: block;
  }
}
