@import 'core.scss';

.cell {
  height: 48px;
  border-bottom: thin solid #eeeeee;
  font-weight: 400;
  text-align: left;
  &:not(:last-child) {
    padding-right: 20px;
  }
  &:not(:first-child) {
    padding-left: 20px;
  }
  &--head {
    height: 55px;
    font-weight: 400;
    color: $grey;
  }
  &--bold {
    font-weight: 700;
    color: #000000;
  }
  &--active {
    color: #000000;
    border-bottom: thin solid #000000;
  }
  &--at-end {
    text-align: right;
  }
  &--at-center {
    text-align: center;
  }
}

.icon {
  &-arrow-down {
    margin-left: 14px;
    font-size: 8px;
  }
}
