@import 'core.scss';

.finances-header {
  @include flex(space-between, center);
}

.date-selector-container {
  @include flex(flex-start, center);

  h3 {
    margin-right: 20px;
    font-size: 1.8rem;
  }
}

.date-selector {
  @include flex(space-between, center);

  cursor: pointer;
  position: relative;
  width: 220px;
  border: 1px solid #000000;
  border-radius: 8px;

  p {
    padding: 8px 20px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.arrow-bottom-container {
  padding: 5px;

  img {
    width: 12px;
    height: 6px;
    margin-right: 20px;
  }
}

.header {
  @include flex(flex-start, center);

  padding-bottom: 50px;
  border-bottom: 1px solid $light-grey;
}

.info {
  position: relative;
  padding: 30px 10px;
  font-weight: 500;
  background: #fff;
  border-radius: 25px;
  background-clip: padding-box;

  &--with-border {
    width: 300px;
    padding-left: 40px;
    margin-top: 20px;

    h4 {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: $secondary-gradient;
      border-radius: 25px;
    }
  }

  &--container {
    @include flex(center, flex-start);

    margin-top: 15px;
    margin-left: 30px;

    .info {
      width: 260px;
      height: 100px;
      padding: 0 30px;
      border-right: 1px solid $light-grey;
      border-radius: 0;

      h4 {
        padding-bottom: 10px;
        font-size: 1.4rem;
        font-weight: 700;
      }

      &:last-of-type {
        border: none;
      }
    }
  }
}

.price {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 700;

  &--big {
    margin-bottom: 20px;
    font-size: 2.4rem;
  }
}

.grey-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: $grey;
}

.button {
  border-radius: 8px;
  letter-spacing: 1px;
  font-weight: 700;
}
