@import 'core.scss';

.search {
  input {
    width: 23rem;
  }
}

.header {
  @include flex(flex-start, center);
  padding: 0 0 40px;
}

.title {
  margin-right: 4rem;
}

.button {
  margin-left: auto;
}

.employees-list {
  padding: 40px;
}

.stylist {
  @include flex(flex-start, center);
}

.avatar {
  @include size(25px);
  @include min-size(25px);

  margin-right: 10px;

  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.actions {
  @include flex(center, center);

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.delete-disclaimer {
  &__logo {
    @include size(42px);
    margin-bottom: 14px;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  &__text {
    margin-bottom: 25px;
    font-size: 16px;
  }
  &__controls {
    @include flex($align: center);

    & > *:not(:last-child) {
      margin-right: 16px;
    }
  }
}
