@import 'core.scss';

.user-container {
  @include flex(flex-start, center);

  p {
    margin-top: 4px;
  }
}

.user-avatar {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 30px;

  &--no-avatar {
    background: $primary-gradient;
  }
}
