@import 'core.scss';
.container {
  @include flex(center, flex-start);
  background-color: #f8f8f8;
  padding: 2rem 2.4rem;
}
.help {
  width: 100%;
  max-width: 900px;
  padding: 50px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
}
.title {
  font-size: 3rem;
  text-align: center;
}

.item {
  .question {
    &:hover {
      cursor: pointer;
    }
  }
  .answer {
    visibility: hidden;
    &-Visible {
      visibility: visible;
    }
  }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  // height: 10px;
  background: #ddd;
  border-radius: 5px;
}
