@import 'core.scss';

.change-modal {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.title {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #aaaaaa;

  span {
    color: #000;
  }
}

.container {
  position: relative;
}

.eye {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.fields {
  margin-bottom: 10px;
}

.header {
  @include flex(center, center, column);
  margin-bottom: 20px;
  text-align: center;

  h2 {
    margin: 0 auto;
    font-size: 2.8rem;
  }

  h4 {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.buttons {
  @include flex(space-between, center);

  margin-top: 20px;
}

.button {
  padding: 30px 60px;

  &--custom {
    @include flex(center, center);

    outline: none;
    cursor: pointer;
    transition: $transition;
    height: 48px;
    padding: 30px 60px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 12px;

    &:hover {
      color: #aaa;
      border-color: #aaa;
    }
  }
}
