@import 'core.scss';

.language {
  position: relative;
}

.content {
  @include flex(flex-start, center);
  cursor: pointer;
}

.flag {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.text {
  margin-left: 1rem;
  &--name {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.icon {
  margin-left: 8px;
  font-size: 5px;
}

.box {
  position: absolute;
  z-index: 20;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  min-width: 150px;
  padding: 8px 0;
  background: #fff;
  border: thin solid #eee;
  overflow: auto;
}

.option {
  @include flex(flex-start, center);
  padding: 8px 16px;
  font-size: 14px;
  word-break: break-all;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: $primary;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
