@import 'core.scss';

.login {
  margin-top: -150px;
}

.heading {
  text-align: center;
}

.text {
  &--sm {
    font-size: 1.4rem;
    text-align: center;
    color: $grey;
  }

  &-align {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.errorContainer {
  margin-left: 20px;
}

.wait {
  margin-top: 10px;
  margin-left: 10px;

  span {
    font-weight: 500;
    color: #000;
  }
}

.pointer {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.6rem;
  color: $orange;
}

.fields {
  width: 32.8rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1.6rem;

  &.error {
    border: 1px solid #aaaaaa;
    border-radius: 1.6rem;

    & > div {
      border: none;

      & > div {
        border: none;
      }

      .field-error {
        border: 2px solid #dd3333;
        border-radius: 1.6rem;

        label {
          color: #dd3333;
        }
      }
    }
  }
}

.button {
  width: 32.8rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.form {
  max-width: 100%;
}
