@import 'core.scss';

.time-selector {
  @include flex(space-between, flex-start);

  position: absolute;
  z-index: 20;
  top: 40px;
  right: 0;
  width: 750px;
  padding: 20px;
  flex-wrap: wrap;
  background: #fff;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.period-container {
  width: 250px;
  padding-left: 30px;
  margin: 30px 0;
}

.periods {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.period {
  @include flex(flex-start, center);

  margin: 15px 0;

  &--label {
    margin-left: 15px;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.time-range {
  @include flex(center, center);

  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 25px;
  background-clip: padding-box;
  background-color: #fff;


  &--selected {
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background: $primary-gradient;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: $primary-gradient;
    border-radius: 25px;
  }
}

.container {
  width: 400px;
  height: 450px;
  padding-top: 5px;
  padding-left: 40px;
  margin: 30px 20px;
  border-left: 1px solid #ddd;
}

.select-period {
  @include flex(flex-start, center);

  img {
    width: 8px;
    height: 12px;
    margin-top: -1px;
    margin-left: 10px;
  }
}

.form-title {
  margin-left: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  color: $grey;
}

.form {
  @include flex(space-around, center);

  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-container {
  border-radius: 10px;

  input {
    width: 130px !important;
    height: 30px !important;
    padding: 0 !important;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    background-color: #fff !important;
  }
}

.header {
  @include flex(center, center);

  margin-bottom: 20px;

  p {
    font-size: 1.6rem;
  }
}

.week-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  &--week {
    padding: 2px 5px !important;
    margin-bottom: 20px !important;
    margin-right: 4px !important;
    font-size: 1rem;
    font-weight: 700;
    color: $grey;
    border: 1px solid #ddd;
    border-radius: 10px;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  &--day {
    cursor: pointer;
    padding: 10px !important;
    font-size: 1.4rem;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #eee;
    }

    &--not-this-month {
      cursor: not-allowed;
      color: $grey;

      &:hover {
        background: none;
      }
    }

    &--selected {
      color: #fff;
      background: $primary-gradient;

      &--with-border {
        &--start {
          border-radius: 0;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        &--end {
          border-radius: 0;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &--both {
          border-radius: 8px;
        }
      }
    }

    &--between-days {
      background-color: #eee;
      border-radius: 0;
    }
  }
}

.icon {
  display: inline-block;
  height: 10px !important;
  margin: 0 !important;
  font-family: 'Material Icons', serif;
  font-style: normal;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &:hover {
    transform: scale(1.75);
    transition: 0.25s ease-out;
    color: dodgerblue;
    cursor: pointer;
  }
}

.buttons-container {
  @include flex(flex-end, center);

  margin-top: 50px;
}

.buttons {
  @include flex(center, center);

  .button {
    width: 100px !important;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}
