.searchbar {
  position: relative;
  margin-right: auto;
}

.field {
  padding: 0 1.6rem 0 4.8rem;
  &:focus,
  &:active,
  &--has-value {
    border: none;
    outline: none;
    & + .label {
      top: 0.5rem;
      left: 4rem;
      transform: scale(0.7);
    }
  }
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 100%;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 4.8rem;
  transform: translateY(-50%);
  line-height: 1;
  color: #aaaaaa;
  transition: 0.2s ease all;
  pointer-events: none;
}
