@import 'core.scss';

.dashboard {
  display: flex;
  height: calc(100vh - 14.4rem);
  max-height: calc(100vh - 14.4rem);
  overflow: hidden;
}

.left {
  overflow: auto;
  width: 65%;
  padding: 35px 44px 30px 40px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.right {
  position: relative;
  z-index: 1;
  width: 35%;
  padding: 24px 24px 0;
  border-left: 1px solid $grey-bg;
  &--top {
    @include flex(space-between, center);
    padding-bottom: 3rem;
  }
}

.balance-name {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
}

.balance {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.button {
  &--appointments {
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    bottom: 2.5rem;
    left: 50%;
    min-width: 250px;
    height: 3.6rem;
    transform: translateX(-50%);
  }
  &--see-details {
    height: 3.6rem;
    margin-top: 18px;
    border-radius: 8px;
  }
}

.amount {
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 6rem;
  text-align: center;
  border: 0.1rem solid #000000;
}

.wrapper {
  & > * {
    &:first-child {
      .service {
        font-size: 1.8rem;
      }
    }
  }
}

.blur {
  position: absolute;
  border-bottom-right-radius: 3.6rem;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16.5rem;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}

.columns {
  display: grid;
  grid-template-columns: 208px 228px 228px;
}

.balance-description {
  margin-top: 14px;
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}

.column:first-child {
  padding-right: 54px;
}

.column:not(:first-child) {
  border-left: 1px solid #f4f4f4;
  padding: 0 54px 0 20px;
}

.not-fulfilled-balance,
.fulfilled-balance {
  display: inline-block;
  margin-right: 17px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: middle;
}

.revenue-overview {
  margin-top: 74px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
}

.stats-for-last-10-days {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.amount-increase {
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;

  &__success {
    color: #1c924d;
  }

  &__fail {
    color: #c9460d;
  }

  .icon {
    &__container {
      margin-right: 10px;
    }
  }
}

.icon {
  font-size: 10px;
  font-weight: 600;

  &__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &__success-container {
    background: #ebfcf2;

    .icon {
      transform: rotate(180deg);
    }
  }

  &__fail-container {
    background: #fcefeb;
  }
}
