.App {
  font-family: cursive;
}

.title {
  text-align: center;
}
.custom-select-container {
  position: relative;
  display: inline-block;
  width: auto;
}

.selected-text {
  /* background-color: #47eded; */
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 6px 40px 6px 10px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 86px;
}

.selected-text::after {
  content: url(../../static/arrow.svg);
  position: absolute;
  top: 3px;
  right: 10px;

  border: 7px solid transparent;
  transform: rotate(180deg);
  /* border-color: red transparent transparent transparent; */
}

.selected-text.active::after {
  top: -1px;
  transform: rotate(0deg);
  /* border-color: transparent transparent red transparent; */
}

.select-options {
  position: absolute;
  width: 200px;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.customSelectOption {
  display: flex;
  padding: 6px 20px;
  color: #aaa;
  list-style-type: none;
  background: #fff;
  cursor: pointer;
}

.customSelectOption:hover {
  color: #ffffff;
  background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
}
.current-option {
  color: #000000;
}
