.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 2.75em 0;
  font-family: 'Basis Grotesque Pro';
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  background: white;
}
.row {
  display: flex;
  width: 100%;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.row-middle {
  align-items: center;
}
.column {
  flex-grow: 1;
  max-width: 100%;
}
.date {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 125%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}
.icon {
  display: inline-block;
  font-family: 'Material Icons', serif;
  font-style: normal;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  &:hover {
    transform: scale(1.75);
    transition: 0.25s ease-out;
    color: dodgerblue;
    cursor: pointer;
  }
  &:first-of-type {
    margin-left: 1em;
  }
  &:last-of-type {
    margin-right: 1em;
  }
}
