@import 'core.scss';
.widget {
  height: calc(100vh - 14.4rem);
  max-height: calc(100vh - 14.4rem);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 36px;
  padding: 40px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.header {
  @include flex(flex-start, center);
  padding: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  max-width: 160px;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000;
  outline: none;
  border-radius: 16px;
  background-clip: padding-box;
  border: 2px solid #eee;
  background-color: #fff;
  &--active {
    border: 2px solid transparent;
  }
  &--active::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
  }
}
.buttons {
  display: none;
  &-visible {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .button-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 10rem;
    height: auto;
    min-height: 3.6rem;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    line-height: 129%;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #000;
    transition: all 0.3s;
    // &:visited {
    //   animation: none;
    // }
    &:hover {
      cursor: pointer;
      color: #aaa;
      border-color: #aaa;
    }
    &-disabled {
      cursor: not-allowed;
      color: #aaa;
      background: #ddd;
      border-color: #aaa;
      &:hover {
        cursor: not-allowed;
        color: #ccc;
        background: #ddd;
      }
    }
  }
  button {
    width: auto;
    min-width: 10rem;
    height: auto;
    min-height: 3.6rem;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    line-height: 129%;
    text-align: center;
  }
  .button-delete {
    display: none;
    margin-left: 2rem;
    &-visible {
      display: block;
    }
  }
  .button-save {
    margin-left: 2rem;
    color: #fff;
  }
}
.container {
  padding: 30px 0;
  .tabs {
    display: flex;
    .button {
      position: relative;
      padding: 1.9rem 2rem;
      border-radius: 16px;
      margin: 0 20px 0 0;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        border-radius: inherit;
        background: linear-gradient(to right, red, orange);
      }
    }
  }
}
.title {
  margin-right: 40px;
}
.button {
  width: 100%;
  max-width: 134px;
  padding: 0 4rem;
  margin-left: 2rem;
}

.banners {
  @include flex(flex-start, center);
  & > * {
    @include size(40px);
    @include min-size(40px);

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.select {
  width: 100%;
  max-width: 300px;
}
.pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
