@import 'core.scss';

.history {
  margin-top: 40px;
}

.cell {
  font-size: 1.4rem;
  border: none;
}

.name {
  margin-top: -2px;
  font-size: 1.6rem;
}

.bold {
  font-weight: 700;
}

.three-dots {
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  font-size: 2rem;
  font-weight: 700;
  color: $grey;
}
