@import 'core.scss';

.header {
  @include flex(flex-start, center);
  padding: 0 0 4rem;
  border-bottom: 0.1rem solid #eeeeee;
}

.title {
  @include flex(flex-start, center);
  margin-right: auto;
  &__caption {
    margin-right: 20px;
  }
}

.buttons {
  @include flex();
  margin-left: auto;
}

.button {
  margin-left: 1.4rem;
  &--colored {
    width: 13.2rem;
  }
  &--secondary {
    height: 3.6rem;
  }
}

.field-group {
  width: 100%;
  margin-bottom: 2.4rem;
  &__title {
    font-size: 1.4rem;
    color: $grey;
  }
  &__header {
    margin-bottom: 1rem;
  }
}

.alignment {
  text-align: right;
}

.language {
  margin-left: auto;
}

.settings {
  width: 100%;
  padding: 40px;

  &--edit {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 40px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 36px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);

  &--full {
    z-index: 5;
  }
}

.content {
  @include flex();

  flex-wrap: wrap;

  padding-top: 40px;

  &__row {
    @include flex();

    width: 100%;

    margin-bottom: 24px;
  }

  & > .column,
  &__row > * {
    width: calc(50% - 12px);
  }

  &,
  &__row {
    & > .column:nth-child(odd) {
      margin-right: 24px;
    }
  }
}

.add-service {
  margin-left: auto;
}

.remove {
  @include cross();
  @include cross-params(#000, 20px, 2px);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.employee-controls {
  @include flex();

  & > *:first-child {
    margin-right: 14px;
  }

  button {
    @include flex(center, center);
    height: 28px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    letter-spacing: 0.1em;
  }
}

.photo-description {
  margin: 5px 0 18px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: black;
}

.deleting-popup {
  width: 600px;
  padding: 80px 0;
  border: none;
}

.deleting-popup-title {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
}

.deleting-popup-description {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: center;
}

.deleting-popup-controls {
  @include flex(center);

  & > *:first-child {
    margin-right: 10px;
  }
}
