@import 'core.scss';

.my-appointments {
  padding: 0.2rem 0 8rem;
}

.wrapper {
  padding: 0 2.4rem;
}

.select {
  @include flex(space-between, center);
  width: 100%;
  padding: 4px;
  margin-bottom: 1.6rem;
  background: $grey-bg;
  border-radius: 1.2rem;
}

.select-item {
  width: calc(50% - 2px);
  height: 2.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.8rem;
  text-align: center;
  color: $grey;
  background: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  &.active {
    color: #000000;
    background: #ffffff;
  }
}

.no-schedule {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
