@import 'core.scss';

.label {
  position: absolute;
  top: 2rem;
  left: 2.2rem;
  font-size: 1.8rem;
  color: $grey;
  transition: 0.2s ease all;
  pointer-events: none;
}

.field {
  @include flex(flex-start, center);
  width: 100%;
  height: 6rem;
  padding: 12px 22px 12px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 16px;
}

.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.icon {
  @include size(20px);
  @include min-size(20px);
  margin-bottom: 5px;
  margin-left: auto;
  color: #292f48;
}

.upload {
  position: relative;
  border: 1px solid $grey;
  border-radius: 16px;

  cursor: pointer;
  &--has-label {
    position: relative;

    .field {
      padding: 2.6rem 2.2rem 1.2rem;
    }
  }

  &--disabled {
    color: rgba(#292f48, 0.4);
    background: $disabled-grey;
    &,
    & > * {
      cursor: not-allowed;
    }
  }
  &--has-value {
    cursor: default;
    .label {
      top: 0.8rem;
      font-size: 1.2rem;
    }
  }
}

.input {
  display: none;
}

.previews {
  @include flex(flex-start, center);
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: 30px;

  & > * {
    @include size(96px);
    @include min-size(96px);

    margin: 0 10px 10px 10px;

    img {
      @include size(100%);
      border-radius: 16px;
    }
  }
}

.preview {
  position: relative;
}

.clear {
  @include flex(center, center);
  @include size(32px);

  position: absolute;

  top: -8px;
  right: -10px;

  background: #ffffff;

  border: 1px solid #eeeeee;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

  cursor: pointer;

  & > * {
    @include cross();
    @include cross-params(#000, 10px, 1px);
  }
}

.placeholder {
  color: #aaaaaa;
}
