.domain {
  width: 100%;
  max-width: 487px;
  input {
    width: 79%;
  }
  div::after {
    content: '.oioni.com';
    position: absolute;
    top: 60%;
    right: 0;
    font-size: 18px;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: normal;
    line-height: 122%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #aaaaaa;
  }
  label {
    line-height: 18px;
    color: #aaa;
  }
  input {
    color: #000;
  }
}
.error {
  border: 2px solid red;
}
.message-error {
  height: 10px;
  margin: 5px;
  color: red;
}
