@import 'core.scss';

.history {
  margin-top: 40px;
}

.button {
  &--upcoming {
    cursor: default;
    color: #fff;
    background: $light-orange;
    border-radius: 4px;

    &:hover {
      background: $light-orange;
    }
  }

  &--completed {
    cursor: default;
    color: #fff;
    background: $light-green;
    border-radius: 4px;

    &:hover {
      background: $light-green;
    }
  }
}

.price {
  &--completed {
    color: $light-green;
  }

  &--upcoming {
    color: $light-orange;
  }
}

.cell {
  border: none;
}

.name {
  margin-top: -3px;
}

.revenue {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
