@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?cgtset');
  src: url('fonts/icomoon.eot?cgtset#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cgtset') format('truetype'),
    url('fonts/icomoon.woff?cgtset') format('woff'),
    url('fonts/icomoon.svg?cgtset#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: '\e919';
}
.icon-speaker:before {
  content: '\e90d';
}
.icon-pen:before {
  content: '\e90b';
}
.icon-sign-out:before {
  content: '\e90c';
}
.icon-contact-us:before {
  content: '\e90f';
}
.icon-comment .path1:before {
  content: '\e90f';
  color: rgb(0, 0, 0);
}
.icon-comment .path2:before {
  content: '\e914';
  margin-left: -1em;
  color: rgb(41, 47, 72);
}
.icon-comment .path3:before {
  content: '\e915';
  margin-left: -1em;
  color: rgb(41, 47, 72);
}
.icon-comment .path4:before {
  content: '\e916';
  margin-left: -1em;
  color: rgb(41, 47, 72);
}
.icon-planet:before {
  content: '\e917';
}
.icon-lock:before {
  content: '\e918';
}
.icon-question:before {
  content: '\e90e';
}
.icon-add:before {
  content: '\e910';
}
.icon-clients:before {
  content: '\e911';
}
.icon-profile:before {
  content: '\e912';
}
.icon-settings:before {
  content: '\e913';
}
.icon-employee:before {
  content: '\e909';
}
.icon-manager:before {
  content: '\e90a';
}
.icon-arrow-left:before {
  content: '\e907';
  color: #aaa;
}
.icon-arrow-right:before {
  content: '\e905';
  color: #aaa;
}
.icon-calendar:before {
  content: '\e906';
}
.icon-person:before {
  content: '\e908';
}
.icon-search:before {
  content: '\e903';
  color: #aaa;
}
.icon-arrow-bold:before {
  content: '\e902';
  color: #aaa;
}
.icon-arrow-back:before {
  content: '\e904';
}
.icon-arrow-triangle:before {
  content: '\e900';
}
.icon-arrow-light:before {
  content: '\e901';
}
.icon-phone:before {
  content: '\e942';
}
