@import 'core.scss';

.nav {
  @include flex(flex-start, center);

  margin-top: 20px;
}

.links {
  width: 160px;
  padding: 30px 50px;
  border-color: $light-grey;
  border-radius: 16px;
  font-size: 2rem;
  font-weight: 700;
  background: #fff;
  background-clip: padding-box;

  &:first-of-type {
    margin-right: 10px;
  }
}

.active {
  .links {
    position: relative;
    border: none;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: $primary-gradient;
      border-radius: 16px;
    }
  }
}
