@import 'core.scss';

.appointment {
  position: relative;
  width: 100%;
  height: 16.8rem;
  padding: 1rem 2rem;
  margin-bottom: 1.7rem;
  border-radius: 0 0.8rem 0.8rem 0;
  font-size: 1.4rem;
}

.left-line {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  border-radius: 0.4rem;
}

.top {
  @include flex();
  height: 50%;
}

.bottom {
  @include flex(flex-start, center);
  height: 50%;
}

.content {
  width: 50%;
}

.service {
  display: block;
  font-weight: bold;
  line-height: 2.2rem;
}

.salon {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.specialist {
  @include flex(flex-start, center);
}

.avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0.9rem;
  & > img {
    width: 100%;
    height: 100%;
  }
}

.name {
  max-width: 11rem;
  font-weight: bold;
}

.customer {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}

.price {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
}
