.day {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60px;
  min-width: 32px;
  max-height: 50px;
  min-height: 32px;
  margin: 5px 0;
  font-family: 'Basis Grotesque Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #000000;
  &:hover {
    cursor: pointer;
  }
}
.withSchdule {
  &::before {
    content: '';
    position: absolute;
    bottom: 18%;
    left: 52%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
  }
}
.active {
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
}
.disabled {
  color: #aaa;
  &:hover {
    cursor: not-allowed;
  }
}
