@import 'core.scss';

.month-select {
  padding: 0 2.4rem 1.5rem;
  border-bottom: 1px solid #eeeeee;
}

.navigation {
  @include flex(space-between, center);
  padding-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.icon {
  cursor: pointer;
}

.calendar {
  width: 100%;
  max-width: 37.5rem;
  margin: auto;
}

.calendar-date {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  margin: 1px 2px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background: #ffffff;
  cursor: pointer;

  &.has-appointments {
    &:before {
      content: '';
      position: absolute;
      bottom: 0.4rem;
      left: calc(50% - 2px);
      width: 0.4rem;
      height: 0.4rem;
      background: $primary-gradient;
      border-radius: 50%;
    }
    &.past {
      &:before {
        background: $grey;
      }
    }
  }
  &.picked {
    position: relative;
    background-clip: padding-box;
    border-color: transparent;
    border-radius: 1.3rem;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: -1px;
      background: $primary-gradient;
      border-radius: inherit;
    }
  }
  &.past {
    color: $grey;
    &:after {
      background: #000000;
    }
  }
}

.weekday {
  display: inline-block;
  width: calc(100% / 7);
  padding: 0.4rem 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: $grey;
  cursor: pointer;

  abbr {
    text-decoration: none !important;
  }
}

.day {
  display: inline-flex;
  justify-content: center;
  width: calc(100% / 7);
}

.outside {
  height: 0;
  overflow: hidden;
}

.week {
  display: flex;
}

.month,
.weekdaysRow,
.weekNumber,
.disabled,
.selected,
.today,
.weekdays,
.body,
.day,
.wrapper {
  outline: none;
}
