@import 'core.scss';

.login {
  margin-top: -150px;
}

.heading {
  text-align: center;
}

.text {
  &--sm {
    font-size: 1.2rem;
  }

  &-align {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &--agreement {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.fields {
  width: 32.8rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1.6rem;

  &.error {
    border: 1px solid #aaaaaa;
    border-radius: 1.6rem;

    & > div {
      border: none;

      & > div {
        border: none;
      }

      .field-error {
        border: 2px solid #dd3333;
        border-radius: 1.6rem;

        label {
          color: #dd3333;
        }
      }
    }
  }
}

.agreement {
  @include flex(flex-start, center);
  width: 32.8rem;
  margin-bottom: 20px;

  span {
    cursor: pointer;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button {
  width: 32.8rem;
  max-width: 100%;
}

.form {
  max-width: 100%;
}
