@import 'core.scss';

.header {
  @include flex(space-between, center);
}

.content-header {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.header1 {
  @include flex(flex-start, center);
  padding: 0 0 40px;
}

.header2 {
  @include flex(flex-start, center);
  padding: 0 0 40px;

  .active {
    color: #000;
  }

  p {
    font-size: 140%;
    font-weight: 600;
    color: $grey;
  }
}

.switcher {
  @include flex(justify-center, center);
  cursor: pointer;
  width: 45px;
  height: 24px;
  margin: 0 10px;
  border-radius: 20px;

  &--active {
    background: $primary-gradient;
  }

  &--not-active {
    background-color: $grey-bg;
  }

  .toggle {
    width: 22px;
    height: 22px;
    margin: 0 2px;
    border-radius: 30px;
    background-color: #fff;
    transition: transform 0.5s;

    &--active {
      transform: translateX(20px);
    }

    &--not-active {
      transform: translateX(0);
    }
  }
}

.nav-container {
  @include flex(flex-start, center);

  width: 100%;
  border-bottom: 1px solid $grey-bg;
}

.nav {
  @include flex(space-between, center);
  width: 60%;
  list-style: none;
  padding: 15px 0;

  .nav-link {
    position: relative;
    cursor: pointer;
    font-size: 160%;
    font-weight: 400;
  }

  .active {
    font-weight: 600;

    .dot {
      position: absolute;
      bottom: -17px;
      left: 45%;
      background-color: #000;
      width: 6px;
      height: 6px;
      border-radius: 30px;
    }
  }
}

.button {
  margin-left: auto;
}

.title {
  margin-right: 40px;

  span {
    cursor: pointer;
  }
}

.merchant {
  padding: 40px;
}
