@import 'core.scss';

.description {
  width: 100%;
  max-width: 487px;
  margin-right: 50px;
  textarea::-webkit-scrollbar {
    width: 0;
  }
  textarea::-webkit-scrollbar {
    width: 0;
  }
  textarea::-webkit-scrollbar-track {
    background: #fff;
  }
  textarea::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 5px;
  }
  textarea::-webkit-scrollbar-thumb:hover {
    background: #dbd9d9;
  }
}
.error {
  textarea {
    border: 2px solid red !important;
  }
}
.message-error {
  height: 10px;
  margin: 5px;
  color: red;
}
