@import 'core.scss';
.container {
  height: 100vh;
  @include flex(center, flex-start);
  background-color: #f8f8f8;
  padding: 2rem 2.4rem;
}
.contacts {
  width: 700px;
  padding: 50px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  text-align: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.text {
  &-main {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  &-description {
    margin: 2rem 6rem;
    font-size: 1.3rem;
    color: #aaa;
  }
}
.phone {
  font-size: 2em;
}
.email {
  margin-bottom: 4rem;
  font-size: 2rem;
}
.line {
  width: 100%;
  height: 1px;
  & > span {
    text-align: center;
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
  .button {
    border-radius: 2rem;
  }
}
.logo {
  margin: 3rem;
  font-size: 20px;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-right: 1rem;
  &-phone {
    font-size: 2rem;
  }
  &-mail {
    font-size: 2rem;
  }
}
