.calendar {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  max-width: 350px;
  margin-bottom: 20px;
  background: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.selectedInController {
  padding: 5px;
  font-size: 10px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}
