@import 'core.scss';

.auth {
  position: relative;
}

.header {
  @include flex(space-between, center);
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  padding-top: 41px;
}

.content {
  @include flex(center, center, column);

  min-height: 100vh;
  padding: 30px 0;
  background-image: url('../../public/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.languages-box {
  left: auto;
  right: 0;
}

.back {
  @include flex(space-between, center);

  h1 {
    padding-top: 2px;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 700;
  }

  img {
    cursor: pointer;
  }
}

.register-text {
  @include flex(center, center);

  position: absolute;
  bottom: 150px;
  font-size: 1.6rem;
  font-weight: 400;

  h4 {
    font-weight: 400;
  }

  .link {
    margin-left: 10px;
    font-weight: 400;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.recover {
  margin-top: 20px;

  .link {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
