@import 'core.scss';

.languages {
  display: flex;
  height: calc(100vh - 14.4rem);
  max-height: calc(100vh - 14.4rem);
  border-radius: 3.6rem;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.form {
  width: 100%;
}
.container {
  width: 100%;
  height: 1000px;
  padding: 3.5rem 4.4rem 3rem 4rem;
}

.header {
  width: 100%;
  @include flex(space-between, center);
  height: 40px;
  margin-bottom: 2rem;
  & > .title {
    font-size: 2rem;
  }
}

.table-wrapper {
  width: 60%;
}
.language-status {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0;
  button:first-child {
    margin-right: 2rem;
  }
}
.modal {
  position: relative;
  // display: none;
  width: 40rem;
  height: 30rem;

  &-title {
    font-size: 3rem;
    font-weight: bold;
  }
  &-content {
    margin: 2rem 0;
  }
  &-close {
    @include cross();
    @include cross-params(#000, 20px, 2px);
    position: absolute;
    top: 2rem;
    right: 3rem;
    &:hover {
      cursor: pointer;
    }
  }
  label {
    font-size: 2rem;
    color: #aaa;
  }
  &-switcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    .active {
      color: #000;
    }
    p {
      font-size: 140%;
      font-weight: 600;
      color: $grey;
    }
  }
  &-buttons {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    & > button:first-child {
      margin-right: 2rem;
    }
  }
}

.switcher {
  @include flex(justify-center, center);
  cursor: pointer;
  width: 45px;
  height: 24px;
  margin: 0 10px;
  border-radius: 20px;

  &--active {
    background: $primary-gradient;
  }

  &--not-active {
    background-color: $grey-bg;
  }

  .toggle {
    width: 22px;
    height: 22px;
    margin: 0 2px;
    border-radius: 30px;
    background-color: #fff;
    transition: transform 0.5s;

    &--active {
      transform: translateX(20px);
    }

    &--not-active {
      transform: translateX(0);
    }
  }
}
