@import 'core.scss';

.login {
  margin-top: -150px;
}

.heading {
  width: 32.8rem;
  text-align: center;
}

.text {
  &--sm {
    font-size: 1.4rem;
    text-align: center;
    color: $grey;
  }

  &-align {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.wait {
  margin-top: 10px;
  margin-left: 10px;

  span {
    display: inline-block;
    width: 3.5rem;
    font-weight: 500;
    color: #000;
  }
}

.pointer {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.6rem;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fields {
  width: 32.8rem;
  max-width: 100%;
  margin-bottom: 1.6rem;

  &.error {
    border: 1px solid #aaaaaa;
    border-radius: 1.6rem;

    & > div {
      border: none;

      & > div {
        border: none;
      }

      .field-error {
        border: 2px solid #dd3333;
        border-radius: 1.6rem;

        label {
          color: #dd3333;
        }
      }
    }
  }
}

.button {
  width: 32.8rem;
  max-width: 100%;
  margin-top: 20px;
}

.form {
  max-width: 100%;
}

.popup {
  @include flex(flex-start, center);
  position: fixed;
  z-index: 5;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 33.4rem;
  height: 8.4rem;
  max-width: calc(100% - 4rem);
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  background: $turquoise;
  border: 1px solid $green;
  border-radius: 12px;
}

.icon {
  margin-right: 1.7rem;
  font-size: 3.2rem;
}

.user-type {
  font-weight: bold;
}

.link-trigger {
  text-decoration: underline;
  cursor: pointer;
}
