@import 'core.scss';
.button {
  @include flex(center, center);

  width: fit-content;
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $transition;
  border-radius: 12px;

  &-size {
    &--lg {
      height: 60px;
      padding: 0 24px;
      font-size: 18px;
      font-weight: 700;
      // border-radius: 16px;
    }

    &--md {
      height: 48px;
      padding: 0 20px;
      font-size: 18px;
      font-weight: 700;
      // border-radius: 16px;
    }

    &--sm {
      height: 36px;
      padding: 0 16px;
      font-size: 14px;
      font-weight: 700;
      // border-radius: 12px;
    }

    &--xs {
      height: 28px;
      padding: 0 12px;
      font-size: 10px;
      font-weight: 700;
      // border-radius: 8px;
    }
  }

  &-theme {
    &--primary {
      color: #fff;
      background: $primary-gradient;
      transition: background $transition ease-out;
      &:hover {
        background: $primary-gradient-hover;
      }
    }

    &--secondary {
      color: #aaaaaa;
      background: #f4f4f4;

      &:hover {
        background: #efefef;
      }
    }

    &--teritary {
      color: #000;
      background: #fff;
      border: 1px solid #000000;
      &:hover {
        color: #aaa;
        border-color: #aaa;
      }
    }
  }

  // &--primary {
  //   width: 100%;
  //   height: 6rem;
  //   font-size: 18px;
  //   font-weight: bold;
  //   color: #fff;
  //   background: $primary-gradient;
  //   border: 1px solid transparent;
  //   border-radius: 16px;

  //   &:disabled {
  //     color: $grey;
  //     background: $grey-bg;
  //     border: 1px solid #eeeeee;
  //   }
  // }

  // &--secondary {
  //   height: 28px;
  //   padding: 0 12px;
  //   font-size: 10px;
  //   font-weight: bold;
  //   color: #000000;
  //   background: #ffffff;
  //   border: 1px solid #000000;
  //   border-radius: 8px;
  // }

  // &--colored {
  //   height: 3.6rem;
  //   font-size: 1.4rem;
  //   line-height: 1.4rem;
  //   color: #ffffff;
  //   background: linear-gradient(165.58deg, #cc3791 15.56%, #e08e2e 84.16%);
  //   border: none;
  //   border-radius: 1.2rem;
  // }

  &:disabled {
    cursor: not-allowed;
    background: #ccc;
  }
}
