@import 'core.scss';
.textarea {
  position: relative;
  .field {
    width: 100%;
    height: 10rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    border: 0.1rem solid $grey;
    border-radius: 1.6rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 1.2rem;
      color: $grey;
    }
  }
}
