.worktime {
  height: calc(100vh - 14.4rem);
  max-height: calc(100vh - 14.4rem);
  box-sizing: border-box;
  border-radius: 36px;
  padding: 40px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
