@import 'core.scss';

.main-page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: relative;
  width: 13%;
  height: 100%;
  min-height: 100vh;
  padding: 0 1.5rem 5.6rem 0;
}

.main-part {
  width: 87%;
}

.logo {
  @include flex(flex-start, center);
  width: 13.6rem;
  height: 12.4rem;
  &:hover {
    cursor: pointer;
  }
}

.site-nav {
  margin-bottom: 5rem;
}

.item {
  margin-bottom: 2.5rem;
  list-style-type: none;
}

.link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
  outline: none;
  &--active,
  &:hover {
    @include gradient-color($primary-gradient, #e08e2e);
  }
}

.main-header {
  @include flex(flex-end, center);
  height: 12.4rem;
}

.searchbar {
  font-size: 1.6rem;
  input {
    width: 55.6rem;
    height: 4.8rem;
    padding-top: 1.8rem;
    padding-bottom: 0.7rem;
    background: $grey-bg;
    border: 0.1rem solid #eeeeee;
    border-radius: 1.6rem;
  }
}

.public {
  min-width: 116px;
  margin-left: 33px;
}

.content {
  border: 0.1rem solid #eeeeee;
  border-radius: 3.6rem;
}
