@import 'core.scss';

.container {
  width: 100%;
  padding: 3.5rem 4.4rem 3rem 4rem;
}
.header {
  width: 100%;
  @include flex(space-between, center);
  height: 40px;
  margin-bottom: 2rem;
  font-size: 2.8rem;
}
.country {
  padding-bottom: 4rem;
}
.fields {
  width: 100%;
}
.business--info {
  display: flex;
  align-items: center;
  label {
    margin-right: 1rem;
  }
}

.group {
  display: flex;
  margin: 10px 10px 10px 0;
  & > div:first-child {
    align-items: center;
    width: 20rem;
    margin: 0 6rem 0 0;
    div {
      font-size: 1.5rem;
      // color: red;
    }
  }
  & > div:first-child:last-child {
    align-items: flex-start;
  }
}
.business-info-title {
  align-items: flex-start;
}

.select {
  width: auto;
  height: 4rem;
  min-width: 30rem;
  max-width: 400px;
  box-sizing: border-box;
  & > div {
    // height: 4rem;
  }
}

.field {
  flex: 3;
  border-radius: 4px;
  min-width: 200px;

  input {
    width: 30rem;
    height: 4rem;
    padding-left: 8px;
    font-size: 1.3rem;
    color: #000;
  }
}

.param {
  display: flex;
  align-items: center;
  .name {
    margin-right: 10px;
  }
}

.name {
  // display: flex;
  & > div {
    margin-bottom: 3px;
  }
  .label {
    color: red;
  }
}

.save {
  font-size: 1.4rem;
}
.button-add-param {
  margin: 14px 10px 0 0px;
}

.b {
  align-items: flex-start;
}
.business--title {
  margin-top: 3.2rem;
}

.input-number {
  input[type='number'] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      // -webkit-appearance: auto;
      // margin: 0;
      -webkit-appearance: inner-spin-button !important;
      // opacity: 1 !important;
      // width: 50px;
      // position: absolute;
      // top: 0;
      // right: 0;
      // height: 100%;
      // background-color: blue !important;
      // border: 2.5px solid red !important;
    }
  }
}
input {
  // padding: 2px 8px !important;
  // font-size: 1.3rem !important;
}
