@import 'core.scss';

.code {
  width: 328px;
  max-width: 100%;
  text-align: center;
}

.heading {
  margin-bottom: 15px;
}

.text {
  &--md {
    font-size: 16px;
  }
  &--sm {
    font-size: 16px;
    color: $grey;
  }
}

.wrapper {
  margin-bottom: 20px;
}

.wait {
  margin-top: 30px;
  margin-left: 10px;

  span {
    font-weight: 500;
    color: #000;
  }
}

.pointer {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 1.6rem;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display {
  display: block;
}

.fields {
  @include flex(space-between);
  margin-bottom: 1.4rem;
}

.input {
  width: 77px;
  & > * {
    padding: 0 2.2rem;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 5.8rem;
    text-align: center;
    // &:active,
    // &:focus,
    // &--populated {
    //   // border: 0.2rem solid #000000;
    // }
    &:last-child {
      border-radius: 1.6rem;
    }
  }
  @include mobile-xs {
    width: 65px;
  }
}

.pointer {
  cursor: pointer;
}

.button {
  width: 328px;
  max-width: 100%;
}

.form {
  max-width: 100%;
}

.errorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -10px;
}