@import 'core.scss';

.label {
  position: absolute;
  top: 2rem;
  left: 2.2rem;
  font-size: 1.8rem;
  color: $grey;
  transition: 0.2s ease all;
  pointer-events: none;
}

.field {
  width: 100%;
  height: 6rem;
  padding: 12px 22px 12px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 16px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 2.8rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #292f48;
}

.input {
  position: relative;
  border: 1px solid $grey;
  border-radius: 16px;

  &--has-label {
    position: relative;

    .field {
      padding: 2.6rem 2.2rem 1.2rem;
    }
  }

  &--disabled {
    color: rgba(#292f48, 0.4);
    background: $disabled-grey;
    &,
    & > * {
      cursor: not-allowed;
    }
  }
  &--focused,
  &--has-value {
    .label {
      top: 0.8rem;
      font-size: 1.2rem;
    }
  }
}

.suggestions {
  position: absolute;
  z-index: 50;
  top: calc(100% - 12px);
  left: -1px;
  width: calc(100% + 2px);
  max-height: 180px;
  padding-top: 16px;
  background: #fff;
  border: thin solid $grey;
  border-top: none;
  border-radius: 0 0 16px 16px;
  overflow-y: auto;
  & > * {
    &:last-child {
      border-radius: 0 0 16px 16px;
    }
  }
}

.suggestion {
  padding: 16px 22px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
  background: #fff;
  &:hover {
    background: #eee;
  }
}
