.title {
  text-align: center;
}
.custom-select-container {
  position: relative;
  display: inline-block;
  width: auto;
}

.selected-text {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 6px 40px 6px 0px;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 86px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}

.selected-text::after {
  // content: url(../../static/arrow.svg);
  content: url(../../static/worktime-arrow.svg);
  position: absolute;
  top: -2px;
  right: 10px;
  border: 7px solid transparent;
  transform: rotate(0deg);
}
.selected-text.active::after {
  top: 0px;
  transform: rotate(180deg);
}
.select-options {
  position: absolute;
  z-index: 10;
  width: 200px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.customSelectOption {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #aaa;
  background: #fff;
}

.customSelectOption:hover {
  color: #ffffff;
  background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
}
.current-option {
  color: #000000;
}
