.salons {
  // margin-top: 50px;
  width: 100%;
  border-bottom: 0.2rem solid #eeeeee;
  // border-radius: 10px;
  padding: 30px;
  &_title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-family: 'Basis Grotesque Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 129%;
    letter-spacing: 0.1em;
    color: #aaaaaa;
  }
}
