@import 'core.scss';

.splash-screen {
  @include flex(center, center);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: relative;
  z-index: 2;
}

.background {
  &-green {
    position: absolute;
    z-index: 1;
    top: -38.72px;
    left: -77.14px;
    width: 371px;
    height: 228px;
    background: #19f7a7;
    opacity: 0.1;
    filter: blur(200px);
    animation: green 4s infinite ease-in-out;
  }
  &-orange {
    position: absolute;
    z-index: 1;
    top: 227px;
    right: -149px;
    width: 371px;
    height: 228px;
    background: #f79019;
    opacity: 0.1;
    filter: blur(200px);
    animation: orange 4s infinite ease-in-out;
  }
  &-blue {
    position: absolute;
    z-index: 1;
    bottom: 91px;
    right: -176px;
    width: 371px;
    height: 228px;
    background: #3819f7;
    opacity: 0.1;
    filter: blur(200px);
    animation: blue 4s infinite ease-in-out;
  }
  &-pink {
    position: absolute;
    z-index: 1;
    bottom: -65px;
    left: -186px;
    width: 516.49px;
    height: 316.94px;
    background: #cc3891;
    opacity: 0.1;
    filter: blur(200px);
    transform: rotate(-135deg);
    animation: pink 4s infinite ease-in-out;
  }
}

@keyframes green {
  50% {
    top: 70%;
    left: 0;
  }
  100% {
    top: -38.72px;
    left: -77.14px;
  }
}
@keyframes orange {
  50% {
    top: 70%;
    right: 50%;
  }
  100% {
    top: 227px;
    right: -149px;
  }
}
@keyframes blue {
  50% {
    bottom: 70%;
    right: 50%;
  }
  100% {
    bottom: 91px;
    right: -176px;
  }
}
@keyframes pink {
  50% {
    bottom: 70%;
    left: 50%;
    transform: rotate(0);
  }
  100% {
    bottom: -65px;
    left: -186px;
    transform: rotate(-135deg);
  }
}
