@import 'core.scss';

.merchants {
  margin-top: 40px;
}

.cell {
  font-size: 1.4rem;
  border: none;
}

.name {
  margin-top: -2px;
  font-size: 1.6rem;
}

.checkbox-container {
  padding: 0 !important;
}

.checkbox {
  display: block;
  width: 20px;
}
