.search {
  position: relative;
  z-index: 10;
}

.field {
  height: 3.6rem;
  padding: 0 1.6rem 0 4.8rem;
  font-size: 1.4rem;
  border: 0.1rem solid #eeeeee;
  border-radius: 1.2rem;
  &:focus,
  &:active {
    border: 0.1rem solid #eeeeee;
    outline: none;
  }
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 100%;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
