@import 'core.scss';

.profile {
  width: 90%;
  max-width: 450px;
  padding: 60px 0;
  padding-left: 40px;
}

.eye {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.modal {
  width: 450px;
  height: fit-content;
  margin-top: 20vh;
}

.title {
  font-size: 14px;
  line-height: 18px;
  color: #aaaaaa;
}

.fields {
  & > * {
    margin-bottom: 32px;
  }
}

.venue {
  position: relative;
}

.language {
  position: absolute;
  top: 0;
  right: 0;
}

.password {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.email {
  @extend .password;

  bottom: 80px;
}

.confirm {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 10px;

  span {
    color: #000;
    &:hover {
      cursor: pointer;
    }
    &:active {
      color: red;
    }
  }
}

.credentials {
  input {
    color: #000;
  }
}

.lat,
.lng {
  width: 50%;
}

.header {
  @include flex(space-between);
  margin-bottom: 20px;
}

.button {
  width: 240px;
}
