.container {
  width: 100%;
  padding: 50px 30px 50px 30px;
  background: #ffffff;
  box-sizing: border-box;

  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    margin-top: 32px;
    &_clear,
    &_save {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 36px;
      max-width: 113px;
      margin-right: 13px;
      font-family: 'Basis Grotesque Pro', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 129%;
      box-sizing: border-box;
      border-radius: 12px;
      text-align: center;
      color: #fff;
      background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
      outline: none;
      &:hover {
        cursor: pointer;
        color: white;
        background: linear-gradient(170.25deg, #dd3e9d 15.56%, #fda741 84.16%);
        border: none;
      }
      &:disabled {
        cursor: not-allowed;
        background: #ccc;
      }
    }
  }
  .timer {
    display: flex;
    justify-content: space-between;
    .time_controller {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .line {
      width: 1px;
      background-color: #ddd;
    }
    .calendar {
      flex: 1;
      width: 100%;
    }
  }
}
