.info {
  // background-color: red;

  width: 100%;
  max-width: 487px;
  margin-right: 50px;
  label {
    line-height: 18px;
    color: #aaa;
  }
}

.error {
  border: 2px solid red;
}
.message-error {
  height: 10px;
  margin: 5px;
  color: red;
}
