.schedule_list {
  margin-top: 40px;
  &_items_wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  &_buttons_wrapper {
    background-color: red;
    display: flex;
    flex: 2;
  }
  .buttons {
    display: flex;
    & > button {
      outline: none;
    }
    .button_edit {
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 36px;
      max-width: 123px;
      padding: 10px;
      margin-right: 12px;
      font-family: 'Basis Grotesque Pro';
      font-size: 14px;
      font-weight: bold;
      line-height: 129%;
      text-align: center;
      color: #fff;
      background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
      border: none;
      min-width: 123px;
      box-sizing: border-box;
      border-radius: 12px;
      font-style: normal;
      align-self: center;
      flex-grow: 0;
      &:hover {
        background: linear-gradient(170.25deg, #dd3e9d 15.56%, #fda741 84.16%);
        cursor: pointer;
      }
      &:disabled {
        color: #fff;
        background: #ccc;
        border: 1px solid #aaa;
        cursor: not-allowed;
      }
    }
    .button_delete {
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 36px;
      max-width: 123px;
      padding: 10px;
      font-family: 'Basis Grotesque Pro';
      font-size: 14px;
      font-weight: bold;
      line-height: 129%;
      text-align: center;
      color: #000000;
      border: 1px solid #aaa;
      min-width: 123px;
      box-sizing: border-box;
      border-radius: 12px;
      font-style: normal;
      order: 0;
      align-self: center;
      flex-grow: 0;
      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
      &:disabled {
        color: #fff;
        background: #ccc;
        border: 1px solid #aaa;
        cursor: not-allowed;
      }
    }
  }
}
