.container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.5);
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    line-height: 150%;
    text-transform: uppercase;
    color: red;
    .image {
      margin-right: 10px;
    }
  }
}
.confirm {
  z-index: 99999;
}
.btnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  .save {
    width: 100%;
    height: 40px;
    max-width: 134px;
    padding: 0 4rem;
    // margin-left: 20px;
  }
  .cancel {
    width: 100%;
    height: 40px;
    max-width: 134px;
    padding: 0 4rem;
    // margin-left: 20px;
  }
}
