@import 'core.scss';

.services-select {
  width: 100%;
  margin-top: 14px;
}
.header {
  @include flex(flex-start, flex-end);
}
.title {
  font-size: 2.4rem;
  font-weight: bold;
}
.description {
  margin-left: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $grey;
}
.services-group {
  padding-top: 3.2rem;
  border-bottom: 1px solid #eeeeee;
  &:last-of-type {
    border-bottom: none;
  }
}
.group-name {
  margin-bottom: 3.2rem;
  font-weight: normal;
}
.checkbox {
  margin: 0 6.4rem 3.2rem 0;
}
.checkboxes-wrapper {
  @include flex(flex-start, flex-start);
  max-width: 90rem;
  flex-wrap: wrap;
}
