<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Oioni Administration Console</title>
  <link rel='shortcut icon' href='/img/logo-lg.svg' type='image/x-icon' />
  <script
    type='text/javascript'
    src='https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.googleApiKey %>&libraries=places'
  ></script>
</head>
<body>
<div id='app'></div>
</body>
</html>
