@import 'core.scss';

.balances {
  padding: 33px 40px 70px 4rem;
}

.header {
  @include flex(flex-start, center);
  position: relative;
  margin-bottom: 18px;
}

.icon {
  margin-right: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translateY(-50%);
  cursor: pointer;
}

.stylist {
  @include flex(flex-start, center);

  &__avatar {
    @include size(24px);
    margin-right: 10px;
    border-radius: 50%;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
  }
}

.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.customer {
  &__name {
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
  }

  &__phone {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: #aaaaaa;
  }
}

.back {
  cursor: pointer;
}

.tabs {
  display: grid;
  grid-gap: 11px;
  grid-template-columns: repeat(3, 144px);
  grid-template-rows: 61px;
}

.tab {
  cursor: pointer;
  position: relative;
  padding: 12px 20px 10px 20px;
  background: white;
  border: solid 1px transparent;
  border-radius: 16px;

  & > h2 {
    white-space: nowrap;

    &:hover {
      overflow: visible;
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -2px;
    background: rgba(238, 238, 238, 1);
    border-radius: inherit;
  }

  &--selected {
    &:before {
      background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);
    }
  }
}

.title {
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
  letter-spacing: -0.02em;
}

.balance {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.01em;
}

.price-title {
  padding-right: 4px;
  text-align: end;
}

.price-value {
  padding-right: 8px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: end;
}

.sort {
  &--element {
    cursor: pointer;
  }

  &--direction {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
