.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  &_abc {
    color: red;
  }
  &_title {
    font-family: 'Basis Grotesque Pro';
    font-size: 28px;
    font-style: normal;
    font-weight: bold;

    line-height: 114%;
    letter-spacing: -0.02em;
    color: #000000;
  }
  &_specialist {
    display: flex;
    align-items: center;
    width: 30px;
    &_logo > img {
      height: 30px;
      max-width: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &_name {
      font-family: 'Basis Grotesque Pro';
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 129%;
      color: #000000;
    }
    &_category {
      font-family: 'Basis Grotesque Pro';
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 133%;
      color: #aaaaaa;
    }
  }
  &_buttons {
    display: flex;
    margin-left: 40px;
    &_save,
    &_cancel {
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
    &_save {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 38px;
      margin-right: 10px;
      font-family: 'Basis Grotesque Pro';
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 129%;
      border-radius: 12px;
      color: #ffffff;
      background: linear-gradient(136.8deg, #cc3791 15.56%, #e08e2e 84.16%);

      &:hover {
        background: linear-gradient(170.25deg, #dd3e9d 15.56%, #fda741 84.16%);
      }
    }
    &_cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 38px;
      border-radius: 12px;
      font-family: 'Basis Grotesque Pro';
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 129%;
      color: #000000;
      border: 1px solid #000000;
    }
  }
}
