@import 'core.scss';

.confirm {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  padding: 25px 35px 35px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  backdrop-filter: blur(4px);
}

.close {
  @include cross();
  @include cross-params(#000, 12px, 2px);

  position: absolute;
  top: 22px;
  right: 31px;
  cursor: pointer;

  &:hover {
    @include cross-params(#aaa, 12px, 2px);
  }
}
