@import 'core.scss';

.employee-settings {
  padding-top: 2rem;
  padding-bottom: 8.5rem;
  // background: #e5e5e5;
}
.employee-info {
  @include flex(flex-start, center);
  padding: 2rem 2.4rem;
}
.images-block {
  position: relative;
}
.avatar-wrapper {
  @include size(8rem);
  border-radius: 1.6rem;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
  }
}
.edit-avatar {
  @include flex(center, center);
  @include size(2.4rem);
  position: absolute;
  bottom: 0;
  right: -1.2rem;
  border-radius: 50%;
  font-size: 1.3rem;
  background: #fff;
  cursor: pointer;
}
.info-text-wrapper {
  padding-left: 2.4rem;
}
.name {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}
.position {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $grey;
}
.settings-block {
  padding: 1.4rem 0;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  background: #ffffff;
}
.select-margin {
  margin-bottom: 1.5rem;
}
.deactivate-wrapper {
  padding: 2rem;
  text-align: center;
}
.deactivate-button {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.field {
  margin-bottom: 1.2rem;
}
.button {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.8rem;
}
.notification {
  @include flex(flex-start, center);
  &:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}
.notification-text {
  padding-right: 1rem;
}
.notification-description {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $grey;
}
.checkbox-switch {
  position: relative;
  display: inline-block;
  width: 5.1rem;
  height: 3.1rem;
  margin-left: auto;
}
.checkbox-item {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e9e9ea;
  transition: 0.4s;
  border-radius: 10rem;
  &:before {
    @include size(2.7rem);
    content: '';
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
  }
}
.checkbox-item:checked + .slider {
  background: $primary-gradient;
  &:before {
    transform: translateX(2rem);
  }
}
