@import 'core.scss';

.form-error {
  @include flex();
  margin: 16px 0;
}

.icon {
  @include flex(center, center);
  @include min-size(22px);

  margin-right: 10px;
  font-size: 12px;
  color: #dd3333;
  border: 1px solid #dd3333;
  border-radius: 50%;
}

.error {
  padding-top: 4px;
  font-size: 14px;
  color: #dd3333;
}
