@import 'core.scss';

.container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  min-width: 200px;
  padding: 8px 13px;
  margin-top: 10px;
  margin-left: -120px;
  background-color: #fff;
  border: 1px solid $grey;
  border-radius: 10px;

  h3 {
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;

    &:hover {
      color: lighten(#000, 50%);
    }
  }

  .delete {
    color: $dark-red;

    &:hover {
      color: darken($dark-red, 20%);
    }
  }
}
