@import 'core.scss';

.header {
  @include flex(flex-start, center);
  padding: 0 0 4rem;
  border-bottom: 0.1rem solid #eeeeee;
}

.title {
  @include flex(flex-start, center);
  margin-right: auto;
  &__caption {
    margin-right: 20px;
  }
}

.buttons {
  @include flex();
  margin-left: auto;
}

.button {
  margin-left: 1.4rem;
  &--colored {
    width: 13.2rem;
  }
  &--secondary {
    height: 3.6rem;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6.9rem;
  & > .column:nth-child(odd) {
    margin-right: 24px;
  }
}

.column {
  width: calc(50% - 12px);
  padding-top: 4rem;
}

.flex {
  @include flex(space-between);
}

.price {
  .fields {
    display: flex;
  }
}

.field-group {
  width: 46.5rem;
  margin-bottom: 2.4rem;
  &__title {
    font-size: 1.4rem;
    color: $grey;
  }
  &__header {
    margin-bottom: 1rem;
  }
}

.duration {
  width: 22.7rem;
}

.fee {
  width: 26.3rem;
}

.description {
  width: 100%;
  margin-top: 0.8rem;
  &__other-language {
    width: 100%;
  }
}

.alignment {
  text-align: right;
}

.language {
  margin-left: auto;
}

.employee {
  width: 100%;
  padding: 40px;

  &--edit {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 40px;
    background: #fff;
    border-radius: 36px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.info,
.services {
  margin-bottom: 24px;
}

.remove {
  @include cross();
  @include cross-params(#000, 20px, 2px);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls {
  @include flex();

  & > *:not(:last-of-type) {
    margin-right: 16px;
  }
}

.photo-description {
  margin: 5px 0 5px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: black;
}
