.wrapper {
  width: 85%;
  box-sizing: border-box;
  margin: 40px 0;
}
.container {
  width: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 10px;
}
.schedule {
  margin: 50px 0px;
  font-family: 'Basis Grotesque Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  color: #000000;
}
