@import 'core.scss';

.item {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(34, 60, 80, 0.1);
  .question {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2.2rem;
    .arrow {
      display: inline-block;
      margin-left: auto;
      font-size: 12px;
      transition: all 0.3s;
      &-open {
        transform: rotate(180deg);
        color: red;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .answer {
    display: flex;
    align-items: center;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
    font-size: 1.5rem;
    &-Visible {
      height: auto;
      padding: 1rem 0;
      margin-bottom: 0px;
      opacity: 1;
      visibility: visible;
    }
  }
}
