@import 'core.scss';

.login {
  margin-top: -150px;
}

.heading {
  width: 32.8rem;
  text-align: center;
}

.text {
  &--sm {
    font-size: 1.2rem;
  }

  &-align {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.fields {
  width: 32.8rem;
  max-width: 100%;
  margin-bottom: 1.6rem;
}

.button {
  width: 32.8rem;
  max-width: 100%;
  margin-top: 10px;
}

.form {
  max-width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  width: 32.8rem;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  & > div {
    align-items: center;
  }
}
