.input-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 8px;

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    -moz-appearance: textfield;
  }
  .input {
    display: flex;
    width: 70%;
    padding-left: 20%;
    margin-right: 10%;
    font-size: 14px;
    min-width: 65px;
    outline: none;
    border: none;
  }

  button {
    position: absolute;
    top: 0.2rem;
    display: block;
    width: 1.7rem;
    height: 1.1rem;
    padding: 0;
    margin: 0;
    background: #ffffff no-repeat center center;
    background-size: 1.3rem 0.9rem;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;
    transition: opacity 0.15s;
    opacity: 0.5;
    outline: 0;
  }

  button.up {
    top: 1rem;
    right: 0.5rem;
  }

  button.down {
    top: 2.3rem;
    right: 0.5rem;
  }
}
