@import 'core.scss';

.box {
  @include size(1.6rem);
  position: relative;
  margin-right: 1.6rem;
  background: white;
  border: thin solid $grey;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;
}

.label {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0.8rem;
  left: 0.3rem;
  width: 0.6rem;
  height: 0.2rem;
  background: #fff;

  transform: rotate(45deg);
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 2px;
    height: 8.5px;

    background: inherit;
  }
}

.checkbox {
  @include flex(flex-start, center);
  &--active {
    .box {
      background: $primary-gradient;
      border: none;
    }

    .checkmark {
      display: block;
    }
  }
}
