@import 'core.scss';

.widget {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;

  font-family: Basis Grotesque Pro;

  border: 1px dotted #aaaaaa;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 16px;

  &-icon {
    margin-bottom: 3rem;
  }
  &-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
  }
  &-label {
    max-width: 170px;
    font-size: 1.4rem;
    text-align: center;
    color: #aaaaaa;
  }
  &-button {
    color: #ffffff;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  .appointment {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-bottom: 5px;

    &-selected {
      width: 80%;
    }

    &:hover .info {
      width: 70%;
    }
    &:hover .actions {
      right: 20px;
    }
    &-past {
      .info {
        width: 100% !important;
        background: #eeeeee;
      }
    }
  }

  .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1.6rem 2.6rem;
    background: #ebf9fc;
    border-radius: 0px 16px 16px 0px;
    flex-direction: column;
    transition: all 0.3s;
    .status-pay {
      position: absolute;
      top: 60px;
      right: 25px;
      font-weight: 800;
      color: red;
    }
    .line {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left {
      .title {
        margin-bottom: 6px;
        color: #0da8c9;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .photo {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        background: black;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .appointment-selected {
    .actions {
      display: none;
    }

    &:hover .info {
      width: 100%;
    }
  }

  .actions {
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    transform: translate(0px, -50%);
    flex-direction: column;
    transition: all 0.3s;

    .action-button {
      width: 100%;
    }
    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
