@import 'core.scss';

.header {
  @include flex(space-between, center);
  margin-bottom: 10px;
}

.title {
  font-size: 14px;
  line-height: 18px;
  color: #aaaaaa;
}

.no-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.no-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fields {
  // border: 1px solid #aaaaaa;
  // border-radius: 16px;
  // & > * {
  //   &:nth-child(even),
  //   &:nth-child(odd) {
  //     border-width: 0px;
  //   }
  // }
  &--multi {
    border-radius: 16px;
    & > *:not(.row) {
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:not(:first-child) {
        border-top: none;
      }

      &:first-child {
        @extend .no-bottom;
      }

      &:last-child {
        @extend .no-top;
      }
    }

    & > .row {
      &:not(:first-child):not(:last-child) {
        & > * {
          &:first-child {
            @extend .no-bottom;
            @extend .no-top;
          }

          &:last-child {
            @extend .no-bottom;
            @extend .no-top;
          }
        }
      }

      &:not(:first-child) {
        & > * {
          border-top: none;
        }
      }

      &:last-child {
        & > * {
          &:first-child {
            @extend .no-top;
          }

          &:last-child {
            @extend .no-top;
          }
        }
      }
    }
  }
}

.row {
  @include flex();

  & > * {
    &:not(:last-child) {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
