.preview {
  width: 100%;
  max-width: 487px;

  &-widget {
    position: relative;
    height: 263px;
    border-radius: 16px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  //   background-color: red;
}
.site-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
  max-width: 100px;
  white-space: pre;
}
.widget-demo {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-area: widget;
  padding: 1rem;
  font-size: 0.5rem;
  .widget {
    width: 140px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    &-header {
      height: 40px;
      background-color: #002445;
      border-radius: 15px 15px 0 0;
      padding: 10px;
      .widget-header-block1 {
        display: flex;
        justify-content: space-between;
        .salonName {
          margin-bottom: 7px;
          font-size: 0.3rem;
          font-style: normal;
          font-weight: bold;
          line-height: 120%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #b8ddfe;
          opacity: 0.7;
        }
      }
      .widget-header-block2 {
        .widgetTitle {
          font-style: normal;
          font-size: 0.7rem;
          font-weight: bold;
          line-height: 133%;
          letter-spacing: -0.02em;
          color: #b8ddfe;
        }
      }
      img {
        height: 5px;
      }
    }
    &-service {
      display: flex;
      align-items: center;
      height: 3rem;
      border-bottom: 1px solid #ddd;
      div:first-child {
        margin-left: 10px;
        margin-right: 20px;
        img {
          height: 10px;
        }
      }
      .service-title {
        // font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
    &-specialist {
      display: flex;
      align-items: center;
      height: 3rem;
      border-bottom: 1px solid #ddd;
      div:first-child {
        margin-left: 10px;
        margin-right: 20px;
        img {
          height: 10px;
          // font-size: 50px;
        }
      }
      .specialists-title {
        // font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
    &-date-and-time {
      display: flex;
      align-items: center;
      height: 3rem;
      div:first-child {
        margin-left: 10px;
        margin-right: 20px;
        img {
          height: 10px;
          // font-size: 50px;
        }
      }
      .date-title {
        // font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #232323;
      }
    }
  }
}
.colors {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 100%;
    max-width: 230px;
  }
}
