@import 'core.scss';

.user {
  @include flex(flex-start, center);
  position: relative;
  margin-left: 33px;
}

.info {
  padding-left: 1rem;
}

.name {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}

.status {
  display: block;
  font-size: 1.2rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.box {
  position: absolute;
  z-index: 10;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  padding: 16px;
  background: #fff;
  border: thin solid #eee;

  & > * {
    font-size: 14px;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      color: $primary;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.avatar,
.info {
  cursor: pointer;
}
