.upload {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 487px;
  margin-right: 50px;
  box-sizing: border-box;
}
.preview-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  .preview-remove {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    :hover {
      cursor: pointer;
    }
  }
  .image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}

.input-text {
  color: red;
}
.submit {
  position: absolute;
  bottom: 0;
  left: 0;
}
.error {
  border: 2px solid red;
}
.message-error {
  height: 10px;
  margin: 5px;
  color: red;
}
