@import 'core.scss';

.container {
  @include flex(center, center);
  list-style: none;
  margin-top: 20px;
  font-size: 120%;
  font-weight: 600;
}

.page {
  cursor: pointer;
  padding: 10px;
  margin: 0 3px;
  border-radius: 8px;
  transition: background-color 0.2s;
  outline: none;

  &:hover {
    background-color: $grey-bg;
    outline: none;
  }

  &--active {
    padding: 10px;
    margin: 0 3px;
    border-radius: 8px;
    color: #fff;
    background: $primary-gradient;
  }
}

.buttons {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  margin: 0 3px;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.2s;
  outline: none;
  border: none;

  &:hover {
    background-color: $grey-bg;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: $grey-bg;
  }

  &--link {
    padding: 10px 0;
    outline: none;
  }
}
