.days {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  align-items: center;
  padding: 0.75em 0 1.75em 0;
  margin-bottom: 10px;
  font-family: 'Basis Grotesque Pro';
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #aaaaaa;
}
.column {
  flex-grow: 1;
  max-width: 100%;
}
